result

# dotfiles
home/kitty/themes/
home/nvim/lazy-lock.json
completions/
fish_variables
conf.d/secrets.fish
current-theme.conf
noctalia.kdl
home/hypr/noctalia/
home/tmux/plugins/
home/noctalia/daedalus/colorschemes/
home/noctalia/daedalus/plugins/
home/noctalia/icarus/colorschemes/
home/noctalia/icarus/plugins/
